<!-- side menu -->
<div id='side-menu'>
  <!-- profile -->
  <div id='profile-info'>
    <div id='profile-picture'>
      <span>
        <%= current_user.name %>
      </span>
      <%= image_tag current_user.pic.url, :id=>"profile-avatar" %>
    </div>
  </div>

  <div id='profile-location'>
    <i class='icon-map-marker'>
      <span id='profile-city'>
        <%= current_user.city %>
      </span>
    </i>
  </div>

  <ul>
    <li>
      <i class='icon-user'>
        <% case current_user.user_type %>
        <% when 'Stylist' %>
          <% stylist = Stylist.where('user_id = ?', current_user.id).first %>
          <span><%= link_to "Profile", stylist_path(stylist.id) %></span>
        <% when 'Customer' %>
          <% customer = Customer.where('user_id = ?', current_user.id).first %>
          <span><%= link_to "Profile", customer_path(customer.id) %></span>
        <% end %>
      </i>
    </li>
    
    <% if current_user.user_type == 'Customer' %>
    <li>
      <i class='icon-search'>
        <span><%= link_to "Stylists", search_stylists_path %></span>
      </i>
    </li>
    <% end %>
    
    <li>
      <i class='icon-calendar'>
        <span><%= link_to "Appointments", appointments_path %></span>
      </i>
    </li>
    <% if current_user.user_type == 'Customer' %>
    <li>
      <i class='icon-heart'>
        <% @customer = Customer.find_by_user_id(current_user.id) %>
        <span><%= link_to "Lookbook", customer_look_images_path(@customer) %></span>
      </i>
    </li>
    <% end %>
  </ul>
</div>