<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Location:</b>
  <%= @user.location %>
</p>

<p>
  <b>Sex:</b>
  <%= @user.sex %>
</p>

<p>
	<b>Profile Pic:</b>
	<%= image_tag @user.pic.url, :class=>"profile-pic" %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
