<%= form_for(@customer) do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-section">
  </div>

  <div class="field">
    <%= f.label :facial_shape %><br />
    <%= f.text_field :facial_shape %>
  </div>
  <div class="field">
    <%= f.label :body_shape %><br />
    <%= f.text_field :body_shape %>
  </div>
  <div class="field">
    <%= f.label :hair_length %><br />
    <%= f.text_field :hair_length %>
  </div>
  <div class="field">
    <%= f.label :hair_color %><br />
    <%= f.text_field :hair_color %>
  </div>
  <div class="field">
    <%= f.label :hair_texture %><br />
    <%= f.text_field :hair_texture %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
