<h1>Listing customers</h1>

<table>
  <tr>
    <th>Facial shape</th>
    <th>Body shape</th>
    <th>Hair length</th>
    <th>Hair color</th>
    <th>Hair texture</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @customers.each do |customer| %>
  <tr>
    <td><%= customer.facial_shape %></td>
    <td><%= customer.body_shape %></td>
    <td><%= customer.hair_length %></td>
    <td><%= customer.hair_color %></td>
    <td><%= customer.hair_texture %></td>
    <td><%= link_to 'Show', customer %></td>
    <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
    <td><%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Customer', new_customer_path %>
