<div class="appointment-widget">
  <div class="appointment-header">
  		<h1>Appointment</h1>
      <h2><%= appointment.status %></h2>
  </div>
  <div class="appointment-form-container">
    <div class="row-fluid appointment-page-stylist">
    	
      <% if current_user.user_type == "Customer" %>
        <% @relevant = Stylist.find(appointment.stylist_id) %>
      <% else %>
        <% @relevant = Customer.find(appointment.customer_id) %>
      <% end %>  
      <% @relevantUser = User.find(@relevant.user_id) %>
    	<div class="span2">
        <%= image_tag @relevantUser.pic.url %>
    	</div>
    	<div class="span5">
        <h2><%= @relevantUser.name %></h2>
        <% if current_user.user_type == "Customer" %>
          <h3><%= @relevant.salon %></h3>
        <% end %>
        <%= appointment.date.strftime("%Y-%m-%d %H:%M") %>
    	</div>
      <% if current_user.user_type == "Stylist" and appointment.status != "Confirmed" %>
        <div class='appointment-button'>
          <%= link_to "Accept Appointment", {:controller=>"appointments", :action=>"accept_appointment", :id=>appointment.id}, :class=>"button" %>
        </div>
      <% end %>
      <div class='appointment-button'>
        <%= link_to "Consultation", appointment_messages_path(appointment.id), :class=>"button" %>
      </div>
  	</div>
  </div>
</div>