<h1 class='header-title'>Request Appointment</h1>

<div class="customer-help">
  It is recommended that you book in advance to give the stylist ample time to plan ahead. This also allows a more in depth consultation process to ensure you get the perfect style.
</div>

<div class="customer-edit clearfix customer-appointment-container">
  <div class="form-section">
    <% @stylistUser = @stylist.user %>
  </div>
  
  	<div class="customer-stylist-user">
    	<%= image_tag @stylistUser.pic.url, :id=>"avatar" %>
  	</div>

  	<div class="customer-user-name">
    	<h2><%= @stylistUser.name %></h2>
      <h2 class="customer-location">Location: <%= @stylistUser.location %></h2>
  	</div>
	</div>
	<%= render 'form' %>
</div>

<%= link_to 'Back', appointments_path %>